<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI: Быстрый старт</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/code.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/python.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>
<header>Шапка сайта</header>

<!--{# Хлебные крошки - ВСЕГДА в базовом шаблоне #}-->
<!--{% if breadcrumbs %}-->
<!--{% include "components/breadcrumbs.html" %}-->
<!--{% endif %}-->

<main>
    <p>Урок</p>
    {% block content %}
    Сюда подставится содержимое из lesson.html
    {% endblock %}
</main>

<footer>Подвал сайта</footer>
</body>
</html>