<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyntropy</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;300italic&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="image-wrapper">
            <img src="/static/img/logo.png" alt="Pyntropy" class="main-image">
            <div class="quote">
                „Вся наша деятельность – это борьба с энтропией.<br>
                Процесс этот, понятное дело, бесконечный.“<br>
                <span class="author">А. Волож</span>
            </div>
        </div>
    </div>

    <footer class="signature">
        © Pyntropy by Aleksey Znamensky, 2026
    </footer>
</body>
</html>